# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# Environments
.env
.venv/
venv/
env/

# IDEs & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
